@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.InfoCard)Model.Content;
}

<div class="flex flex-col gap-4">

    <h3 class="text-red text-[1.222]rem font-semibold">@content.InfoTitle</h3>
        <img src="@(content.InfoImage?.Url() ?? "~/images/Img.svg")"  class="w-30 h-30 mb-4" />
    <p class="text-body-text text-[0.875rem] font-normal">@content.InfoText</p>
    

</div>