<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bd9307ba-156b-48e6-adab-ffbc283c7038" Alias="ContactUsSection - Contact Us Label - Text Box Property Editor UI" Level="1">
  <Info>
    <Name>ContactUsSection - Contact Us Label - Text Box Property Editor UI</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextArea</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "maxChars": 512,
  "rows": 10
}]]></Config>
</DataType>