<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7ec901ff-81a2-41e0-8bf1-33166854a0c1" Alias="Contact Us Page - Contact Us Map Image - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Contact Us Page - Contact Us Map Image - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "80a6335e-e17a-4c98-87ec-09436314e3ef"
    },
    {
      "contentElementTypeKey": "beb81eb3-d87b-4c16-bb5b-cd7b3de64104"
    },
    {
      "contentElementTypeKey": "ef8e83cc-b810-4a8e-a9ea-1a3a3aa7a1fc"
    }
  ]
}]]></Config>
</DataType>