<?xml version="1.0" encoding="utf-8"?>
<DataType Key="37760946-92d3-49ef-8e9b-3fb598b6c603" Alias="Home Success Section - Home Success Number One - Text Box Property Editor UI" Level="1">
  <Info>
    <Name>Home Success Section - Home Success Number One - Text Box Property Editor UI</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "maxChars": 512
}]]></Config>
</DataType>