<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c7d327e9-3c62-4254-b8d3-967dc6e3d371" Alias="List View - Content " Level="1">
  <Info>
    <Name>List View - Content </Name>
    <EditorAlias>Umbraco.ListView</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Collection</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "icon": "icon-list",
  "includeProperties": [
    {
      "header": "Sort",
      "alias": "sortOrder",
      "isSystem": 1
    },
    {
      "header": "Last edited",
      "alias": "updateDate",
      "isSystem": 1
    },
    {
      "header": "Created by",
      "alias": "creator",
      "isSystem": 1
    }
  ],
  "layouts": [
    {
      "name": "Table",
      "icon": "icon-list",
      "collectionView": "Umb.CollectionView.Document.Table"
    },
    {
      "name": "Grid",
      "icon": "icon-grid",
      "collectionView": "Umb.CollectionView.Document.Grid"
    }
  ],
  "orderBy": "sortOrder",
  "orderDirection": "desc",
  "pageSize": 10
}]]></Config>
</DataType>