<?xml version="1.0" encoding="utf-8"?>
<DataType Key="01e89614-6ba3-4c51-96fc-9d53b794b4a9" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "f02ebb53-b66f-42c0-9e96-ef7aac85beab"
    },
    {
      "contentElementTypeKey": "b1bed0c5-8d80-495c-a4e1-1a7695c82133"
    },
    {
      "contentElementTypeKey": "97a75d75-fd10-4557-a388-a91696b4567e",
      "settingsElementTypeKey": "2fe8bfb2-0cea-467f-9eb8-3257017e1f2c"
    },
    {
      "contentElementTypeKey": "7d2cda7f-84ab-45c1-87b6-7f2f003eb747"
    },
    {
      "contentElementTypeKey": "80a6335e-e17a-4c98-87ec-09436314e3ef"
    },
    {
      "contentElementTypeKey": "ec49fac4-30c8-4da8-a6bd-176647953f32"
    },
    {
      "contentElementTypeKey": "cb6c6565-0a1f-4939-b8f7-45cf3d2cb259"
    },
    {
      "contentElementTypeKey": "070cd0b2-e31f-41d3-b6c5-8909e7757bf5"
    },
    {
      "contentElementTypeKey": "0cfdc4b5-e301-47a7-ae83-bc5cddc9a6a2"
    },
    {
      "contentElementTypeKey": "543db3c2-e517-4ef2-a04f-54d286a73a0e"
    }
  ]
}]]></Config>
</DataType>