<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a4b85f9b-e20e-4f87-a970-42b4a62ee372" Alias="Projects Page - Sections" Level="1">
  <Info>
    <Name>Projects Page - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "45952c26-5ed1-4ae9-817f-30a9fbe8643c"
    }
  ]
}]]></Config>
</DataType>