<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cd9fe8f3-e404-4b57-9b1e-0e5c02685f69" Alias="Service Detail Aside - List" Level="1">
  <Info>
    <Name>Service Detail Aside - List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "a2bb5a6f-8339-4049-9bf5-7f6263c1717d"
    }
  ]
}]]></Config>
</DataType>