<?xml version="1.0" encoding="utf-8"?>
<DataType Key="486aa459-d6c7-47f3-8ea2-eacf5d5391a4" Alias="Service Page - Contact Section " Level="1">
  <Info>
    <Name>Service Page - Contact Section </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "f1784bca-fd67-4b3e-9dae-97ac71be5e66"
    }
  ]
}]]></Config>
</DataType>