<?xml version="1.0" encoding="utf-8"?>
<DataType Key="61b4c704-11c2-42d4-b687-61a26d8871c9" Alias="Site Settings - Platform List" Level="1">
  <Info>
    <Name>Site Settings - Platform List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "b66faee7-85b4-4d9e-9d8b-4034d2df87d0",
      "label": "[umbValue: platformName]"
    }
  ]
}]]></Config>
</DataType>