<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0335d92e-426b-4841-8b01-c7b9ee2a15bf" Alias="Team Member List" Level="1">
  <Info>
    <Name>Team Member List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "424ee7dc-ce63-409a-8249-622ad79a833d",
      "label": "{umbValue: teamMemberName}"
    }
  ]
}]]></Config>
</DataType>