<?xml version="1.0" encoding="utf-8"?>
<Content Key="8d7b2079-cc76-4da4-adc4-10dd07ab868f" Alias="Bonds &amp; Commodities" Level="3">
  <Info>
    <Parent Key="796af8dc-e29f-41ca-933d-d99d48841fe9">Services</Parent>
    <Path>/Onatrix/Services/BondsCommodities</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-11-08T13:05:51</CreateDate>
    <NodeName Default="Bonds &amp; Commodities" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2ffdf20a-66a4-45f5-a07d-241eb4c0366a">ServiceDetail</Template>
  </Info>
  <Properties>
    <footerSectionImage>
      <Value><![CDATA[]]></Value>
    </footerSectionImage>
    <footerSectionLabel>
      <Value><![CDATA[]]></Value>
    </footerSectionLabel>
    <footerSectionText>
      <Value><![CDATA[]]></Value>
    </footerSectionText>
    <pageTitle>
      <Value><![CDATA[Bonds & Commodities]]></Value>
    </pageTitle>
    <serivceDetailExerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serivceDetailExerpt>
    <serviceDetailAside>
      <Value><![CDATA[]]></Value>
    </serviceDetailAside>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "5e330360-3e2e-4040-93f9-2e5f2f278265",
    "mediaKey": "c971a483-e720-469f-823e-49c2477273b6",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>