<?xml version="1.0" encoding="utf-8"?>
<Content Key="5cd53e02-5bba-4557-8307-7880794df072" Alias="Financial Advisor" Level="3">
  <Info>
    <Parent Key="796af8dc-e29f-41ca-933d-d99d48841fe9">Services</Parent>
    <Path>/Onatrix/Services/FinancialAdvisor</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-11-08T13:06:37</CreateDate>
    <NodeName Default="Financial Advisor" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2ffdf20a-66a4-45f5-a07d-241eb4c0366a">ServiceDetail</Template>
  </Info>
  <Properties>
    <footerSectionImage>
      <Value><![CDATA[]]></Value>
    </footerSectionImage>
    <footerSectionLabel>
      <Value><![CDATA[]]></Value>
    </footerSectionLabel>
    <footerSectionText>
      <Value><![CDATA[]]></Value>
    </footerSectionText>
    <pageTitle>
      <Value><![CDATA[Financial Advisor]]></Value>
    </pageTitle>
    <serivceDetailExerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serivceDetailExerpt>
    <serviceDetailAside>
      <Value><![CDATA[]]></Value>
    </serviceDetailAside>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "dc34a88f-f1d1-47c3-a0c3-38844216de6f",
    "mediaKey": "cb0068c4-48dd-44df-abfe-ed5143785534",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>