@import "tailwindcss";

@theme {
    --clr-neutral: #ffffff;
    --clr-white: #f2eddc;
    --clr-white-100: #f7f7f7;
    --clr-dark: #0e0e0e;
    --clr-primary: #f5955;
    --clr-main-light: #606966;
    --clr-accent: #f2eddc;
    --clr-secondary: #d9c3a9;
    --clr-gray-400: #b5264;
    --clr-body-text: #535656;
    --clr-body-text-100: #999999;
    --clr-notel: #9c9ea6;
    --clr-border-gray: #eaeaea;
    --clr-border-400: #c7c8c9;
    --font-poppins: 'Poppins', sans-serif;
}

body {
    @apply font-poppins;
}

.rte h3 {
    @apply text-[2.5rem] text-primary font-bold;
}

.current a{
   @apply text-secondary;
}
.rte-ul{
    @apply list-disc pl-5 mt-3;
}
.rte-ul li{
    @apply text-rte-xs text-body-text mb-3;
}
.rte-ul li::marker{
    @apply text-secondary;
}
