<?xml version="1.0" encoding="utf-8"?>
<Media Key="57f6477e-e9ed-40af-b886-497d0434015c" Alias="01.svg" Level="2">
  <Info>
    <Parent Key="5a07587b-051b-4bfd-a0a8-21b8b10f6c5e">Home Page</Parent>
    <Path>/HomePage/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T11:30:06</CreateDate>
    <NodeName Default="01.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rt3fjnpw/01.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>