<?xml version="1.0" encoding="utf-8"?>
<Media Key="7a2a0cd7-4e6b-4414-95b9-4eb8454bdd76" Alias="04.svg" Level="2">
  <Info>
    <Parent Key="5a07587b-051b-4bfd-a0a8-21b8b10f6c5e">Home Page</Parent>
    <Path>/HomePage/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T11:30:06</CreateDate>
    <NodeName Default="04.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ewyjrgdq/04.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>