<?xml version="1.0" encoding="utf-8"?>
<Media Key="205c315a-435b-4ad9-8e6e-85925ebe72e1" Alias="05.svg" Level="2">
  <Info>
    <Parent Key="5a07587b-051b-4bfd-a0a8-21b8b10f6c5e">Home Page</Parent>
    <Path>/HomePage/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T11:30:06</CreateDate>
    <NodeName Default="05.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vcgp3qsa/05.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>