<?xml version="1.0" encoding="utf-8"?>
<Media Key="53514042-945c-4ef6-8308-5afa8b0d16ee" Alias="06.svg" Level="2">
  <Info>
    <Parent Key="d3226639-c3d1-4f03-934d-184f14a0b75f">Projects Images</Parent>
    <Path>/ProjectsImages/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T12:15:10</CreateDate>
    <NodeName Default="06.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wd4phmkh/06.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>