<?xml version="1.0" encoding="utf-8"?>
<Media Key="f0335d80-4bca-4225-ae33-38b70eb76048" Alias="06.svg" Level="2">
  <Info>
    <Parent Key="5a07587b-051b-4bfd-a0a8-21b8b10f6c5e">Home Page</Parent>
    <Path>/HomePage/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T11:30:06</CreateDate>
    <NodeName Default="06.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/olqjcewr/06.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>