<?xml version="1.0" encoding="utf-8"?>
<Media Key="fa920d8a-c7b2-4236-a89b-ad953c726626" Alias="About Images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AboutImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-13T08:53:15</CreateDate>
    <NodeName Default="About Images" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties />
</Media>