<?xml version="1.0" encoding="utf-8"?>
<Media Key="09aec278-b257-4499-81a7-e381f05d29f5" Alias="Bg (2).svg" Level="2">
  <Info>
    <Parent Key="5a07587b-051b-4bfd-a0a8-21b8b10f6c5e">Home Page</Parent>
    <Path>/HomePage/Bg2Svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T09:51:14</CreateDate>
    <NodeName Default="Bg (2).svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rj5bz00m/bg-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>