<?xml version="1.0" encoding="utf-8"?>
<Media Key="b994068b-8126-4ea1-968b-0803ca34223a" Alias="Brand.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Brandsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-07T09:57:52</CreateDate>
    <NodeName Default="Brand.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pg3dmwz3/brand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>