<?xml version="1.0" encoding="utf-8"?>
<Media Key="9ef15b33-53af-47a2-a4db-8f36c2a1ed7c" Alias="image-47 1.svg" Level="2">
  <Info>
    <Parent Key="64f42c43-f232-4b40-8336-dcad3fef4761">Team Members</Parent>
    <Path>/TeamMembers/image471svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T11:10:08</CreateDate>
    <NodeName Default="image-47 1.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yhtfg5fu/image-47-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>