<?xml version="1.0" encoding="utf-8"?>
<Media Key="d65a2777-5190-4ac3-850c-b9b189742d98" Alias="image-106 1.svg" Level="2">
  <Info>
    <Parent Key="64f42c43-f232-4b40-8336-dcad3fef4761">Team Members</Parent>
    <Path>/TeamMembers/image1061svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T11:10:08</CreateDate>
    <NodeName Default="image-106 1.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qwnpqnel/image-106-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>