<?xml version="1.0" encoding="utf-8"?>
<Media Key="c971a483-e720-469f-823e-49c2477273b6" Alias="image-18-min 1 (1).svg" Level="2">
  <Info>
    <Parent Key="fca32c28-1aa5-43e2-b72a-7c61d7cd0cc8">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/image18Min11Svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-08T13:02:57</CreateDate>
    <NodeName Default="image-18-min 1 (1).svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/oemngkz1/image-18-min-1-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>