<?xml version="1.0" encoding="utf-8"?>
<Media Key="3d9cb33a-4c04-4051-84a5-09e4de8a90fc" Alias="image-21-min 1 (1).svg" Level="2">
  <Info>
    <Parent Key="fca32c28-1aa5-43e2-b72a-7c61d7cd0cc8">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/image21Min11Svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-08T13:02:57</CreateDate>
    <NodeName Default="image-21-min 1 (1).svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zahd3xy5/image-21-min-1-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>