<?xml version="1.0" encoding="utf-8"?>
<Media Key="fb94d735-d20b-4355-afff-7810f9e3e17d" Alias="image-22-min 1.svg" Level="2">
  <Info>
    <Parent Key="fca32c28-1aa5-43e2-b72a-7c61d7cd0cc8">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/image22Min1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-08T13:02:58</CreateDate>
    <NodeName Default="image-22-min 1.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/y3vdmgiq/image-22-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>