<?xml version="1.0" encoding="utf-8"?>
<Media Key="3e72c40c-0222-49f3-9965-1a84c403c7c6" Alias="image-104 1.svg" Level="2">
  <Info>
    <Parent Key="64f42c43-f232-4b40-8336-dcad3fef4761">Team Members</Parent>
    <Path>/TeamMembers/image1041svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T11:10:08</CreateDate>
    <NodeName Default="image-104 1.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5z2nbxbz/image-104-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>