<?xml version="1.0" encoding="utf-8"?>
<Media Key="a3f2ec54-78ae-4335-9110-bf9cee878bea" Alias="Img-1-4 1.svg" Level="2">
  <Info>
    <Parent Key="d3226639-c3d1-4f03-934d-184f14a0b75f">Projects Images</Parent>
    <Path>/ProjectsImages/Img141svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T12:15:09</CreateDate>
    <NodeName Default="Img-1-4 1.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uzifaqnv/img-1-4-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>