<?xml version="1.0" encoding="utf-8"?>
<Media Key="04c4dd64-3353-426a-b1ea-aeada3ac4403" Alias="Img-5-e1695109900349 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Img5E16951099003491svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T11:50:07</CreateDate>
    <NodeName Default="Img-5-e1695109900349 1.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/szqgnzsi/img-5-e1695109900349-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>