<?xml version="1.0" encoding="utf-8"?>
<Media Key="5528977c-0835-44be-9fa4-fb5a4fa409d9" Alias="Img-4-2 1.svg" Level="2">
  <Info>
    <Parent Key="64f42c43-f232-4b40-8336-dcad3fef4761">Team Members</Parent>
    <Path>/TeamMembers/Img421svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T11:10:08</CreateDate>
    <NodeName Default="Img-4-2 1.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ryvivnzo/img-4-2-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>