<?xml version="1.0" encoding="utf-8"?>
<Media Key="2707ffb4-0350-4302-87b9-05121433a166" Alias="Img-1 1.svg (1)" Level="2">
  <Info>
    <Parent Key="5a07587b-051b-4bfd-a0a8-21b8b10f6c5e">Home Page</Parent>
    <Path>/HomePage/Img11svg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T11:10:26</CreateDate>
    <NodeName Default="Img-1 1.svg (1)" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/izbklrkl/img-1-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>