<?xml version="1.0" encoding="utf-8"?>
<Media Key="d36c9142-fcff-4a93-99bf-122536603468" Alias="Img-47 1.svg" Level="2">
  <Info>
    <Parent Key="d3226639-c3d1-4f03-934d-184f14a0b75f">Projects Images</Parent>
    <Path>/ProjectsImages/Img471svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T12:15:09</CreateDate>
    <NodeName Default="Img-47 1.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wawm2mpe/img-47-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>