<?xml version="1.0" encoding="utf-8"?>
<Media Key="dba6246b-5060-4649-a107-5981c922c7de" Alias="img_choose_01_home01 1.svg" Level="2">
  <Info>
    <Parent Key="fa920d8a-c7b2-4236-a89b-ad953c726626">About Images</Parent>
    <Path>/AboutImages/img_choose_01_home011svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T08:53:22</CreateDate>
    <NodeName Default="img_choose_01_home01 1.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tgmbiol1/img_choose_01_home01-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>