<?xml version="1.0" encoding="utf-8"?>
<Media Key="3a6c3677-97e0-4aa7-af23-3072be4853a4" Alias="In hac habitasse platea dictumst. Aliquam felis ante, tincidunt sed magna auctor, aliquet dapibus turpis..svg" Level="2">
  <Info>
    <Parent Key="d3226639-c3d1-4f03-934d-184f14a0b75f">Projects Images</Parent>
    <Path>/ProjectsImages/InHacHabitassePlateaDictumstAliquamFelisAnteTinciduntSedMagnaAuctorAliquetDapibusTurpissvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T12:15:09</CreateDate>
    <NodeName Default="In hac habitasse platea dictumst. Aliquam felis ante, tincidunt sed magna auctor, aliquet dapibus turpis..svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qwfn3wh1/in-hac-habitasse-platea-dictumst-aliquam-felis-ante-tincidunt-sed-magna-auctor-aliquet-dapibus-turpis.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>