<?xml version="1.0" encoding="utf-8"?>
<Media Key="0b705bca-da61-48e5-a0b1-8bccb8ad400c" Alias="kevin-gardner.svg" Level="2">
  <Info>
    <Parent Key="fa920d8a-c7b2-4236-a89b-ad953c726626">About Images</Parent>
    <Path>/AboutImages/kevinGardnersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T08:53:22</CreateDate>
    <NodeName Default="kevin-gardner.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hdtnf0l0/kevin-gardner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>