<?xml version="1.0" encoding="utf-8"?>
<Media Key="485ecc5d-eaa5-4edb-8a59-1b8ae5eddc57" Alias="map 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/map1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T11:02:06</CreateDate>
    <NodeName Default="map 1.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/v3ypzkv4/map-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>