<?xml version="1.0" encoding="utf-8"?>
<Media Key="884988e0-6b7b-4b77-8d52-0b6abaf7e141" Alias="Mask-Group-8 1.svg" Level="2">
  <Info>
    <Parent Key="64f42c43-f232-4b40-8336-dcad3fef4761">Team Members</Parent>
    <Path>/TeamMembers/MaskGroup81svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T11:10:08</CreateDate>
    <NodeName Default="Mask-Group-8 1.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ci0pw0ta/mask-group-8-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>