<?xml version="1.0" encoding="utf-8"?>
<Media Key="2d35454c-4023-4893-8d07-5d4a8e016b74" Alias="new folder name" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/newFolderName</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-10T10:44:01</CreateDate>
    <NodeName Default="new folder name" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>