<?xml version="1.0" encoding="utf-8"?>
<Media Key="2299e1ed-1b8b-4f80-9c97-672dcd907f7d" Alias="new folder name (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/newFolderName1</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-10T11:44:13</CreateDate>
    <NodeName Default="new folder name (1)" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>