<?xml version="1.0" encoding="utf-8"?>
<Media Key="76c91a1e-bf00-413f-850e-0f8478b2539b" Alias="OnlineSignatures.net-302 1.svg" Level="2">
  <Info>
    <Parent Key="2299e1ed-1b8b-4f80-9c97-672dcd907f7d">new folder name (1)</Parent>
    <Path>/newFolderName1/OnlineSignaturesnet3021svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T11:44:22</CreateDate>
    <NodeName Default="OnlineSignatures.net-302 1.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3sthxfa1/onlinesignaturesnet-302-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>