<?xml version="1.0" encoding="utf-8"?>
<Media Key="62542186-e732-487b-ba8b-61e46331e334" Alias="pj4.svg" Level="2">
  <Info>
    <Parent Key="d3226639-c3d1-4f03-934d-184f14a0b75f">Projects Images</Parent>
    <Path>/ProjectsImages/pj4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T10:12:08</CreateDate>
    <NodeName Default="pj4.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/osopnabj/pj4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>