<?xml version="1.0" encoding="utf-8"?>
<Media Key="457fe858-de83-4044-8757-cf5ed12fa37e" Alias="post2 1.svg" Level="2">
  <Info>
    <Parent Key="2d35454c-4023-4893-8d07-5d4a8e016b74">new folder name</Parent>
    <Path>/newFolderName/post21svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T10:44:09</CreateDate>
    <NodeName Default="post2 1.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vjkn1j2y/post2-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>