<?xml version="1.0" encoding="utf-8"?>
<Media Key="d3226639-c3d1-4f03-934d-184f14a0b75f" Alias="Projects Images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ProjectsImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-11T10:12:00</CreateDate>
    <NodeName Default="Projects Images" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>