<?xml version="1.0" encoding="utf-8"?>
<Media Key="455db55e-3564-4a8b-93f8-9fe4755e8a67" Alias="Screenshot 2025-11-13 110959.png" Level="2">
  <Info>
    <Parent Key="5a07587b-051b-4bfd-a0a8-21b8b10f6c5e">Home Page</Parent>
    <Path>/HomePage/Screenshot20251113110959png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-13T11:11:38</CreateDate>
    <NodeName Default="Screenshot 2025-11-13 110959.png" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/0f5bx2yn/screenshot-2025-11-13-110959.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>