<?xml version="1.0" encoding="utf-8"?>
<Media Key="fc3a733b-0e57-4ace-bc03-79439690fb2a" Alias="Ser" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Ser</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-08T13:00:52</CreateDate>
    <NodeName Default="Ser" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>