<?xml version="1.0" encoding="utf-8"?>
<Media Key="4944cac1-772d-4b74-8cbd-5d139f542e0b" Alias="sl-home2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/slHome2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T11:11:55</CreateDate>
    <NodeName Default="sl-home2.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gn1pnkzw/sl-home2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>