<?xml version="1.0" encoding="utf-8"?>
<Media Key="64f42c43-f232-4b40-8336-dcad3fef4761" Alias="Team Members" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TeamMembers</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-05T11:07:50</CreateDate>
    <NodeName Default="Team Members" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>