<?xml version="1.0" encoding="utf-8"?>
<Media Key="63f1c5aa-73fd-4dcb-90c6-60831c49ea8d" Alias="Video 1.svg" Level="2">
  <Info>
    <Parent Key="5a07587b-051b-4bfd-a0a8-21b8b10f6c5e">Home Page</Parent>
    <Path>/HomePage/Video1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T09:51:14</CreateDate>
    <NodeName Default="Video 1.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lb2fhapg/video-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>