<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b6720dfa-cfbc-4df2-be3d-63028102f667" Alias="contactUsPage" Level="2">
  <Info>
    <Name>Contact Us Page</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="beb81eb3-d87b-4c16-bb5b-cd7b3de64104">footerSection</Composition>
      <Composition Key="ef8e83cc-b810-4a8e-a9ea-1a3a3aa7a1fc">pageHeader</Composition>
    </Compositions>
    <DefaultTemplate>ContactUsPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8cde1659-fbec-45cd-8472-7d61897f5344">ContactUsPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c43feb13-5a2f-43c4-8a58-a3ff297a4f21</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>01e89614-6ba3-4c51-96fc-9d53b794b4a9</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>954cee56-2eff-4193-9ce1-724bd1941a98</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>