<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7734248a-197e-47ea-ad25-dd176b23b3d3" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="ef8e83cc-b810-4a8e-a9ea-1a3a3aa7a1fc">pageHeader</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8a7edaf0-7a64-49e8-aae0-288a123ff111">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="dbe9c7cf-9e77-4302-99b0-fe34b87e2176" SortOrder="0">servicePage</ContentType>
    <ContentType Key="6c8ad180-6cf7-4ece-91ef-99969b5dc235" SortOrder="1">aboutPage</ContentType>
    <ContentType Key="49b73116-d3ef-4098-8e17-3b8b07ab02c3" SortOrder="2">projectsPage</ContentType>
    <ContentType Key="b6720dfa-cfbc-4df2-be3d-63028102f667" SortOrder="3">contactUsPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>30331a3f-cd9b-4c71-a1a2-801b49592b41</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>01e89614-6ba3-4c51-96fc-9d53b794b4a9</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>eba04693-ab79-4fb9-a26e-b597ea061ac8</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>