<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="49b73116-d3ef-4098-8e17-3b8b07ab02c3" Alias="projectsPage" Level="2">
  <Info>
    <Name>Projects Page</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>c7d327e9-3c62-4254-b8d3-967dc6e3d371</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="beb81eb3-d87b-4c16-bb5b-cd7b3de64104">footerSection</Composition>
      <Composition Key="ef8e83cc-b810-4a8e-a9ea-1a3a3aa7a1fc">pageHeader</Composition>
    </Compositions>
    <DefaultTemplate>ProjectsPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="9e08d3d4-47b1-4137-8e9f-9d413d6d0565">ProjectsPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="f10147d7-cfd1-41bd-8128-e7a0670f9091" SortOrder="0">projectDetail</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>f3f17606-867f-4463-8d3d-9a874efc5011</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>01e89614-6ba3-4c51-96fc-9d53b794b4a9</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>c1f97b0d-e10b-45a6-ae17-2c4ebe01e434</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>